@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
  margin:0;
  padding:0;
  font-family: 'Inconsolata';
  color:#333333;
}

.hide {
  display:none;
}

a {
  font-size: 14px;  
  padding:10px 20px 10px 20px;
  border-width:1px;
  border-style: solid;
  transition-duration: 0.5s;
  text-decoration: none;
  color:#333333;
}

.material-icons {
  font-size: 14px;
  vertical-align: text-bottom; /* center icon. Don't ask my how this works because I don't know either */
}

a:hover {
  background-color:rgba(255, 255, 255, .3);
  transition-duration: 0.5s;
}

.copied::after {
  content: ' - copied';
  overflow:hidden;
}

#center {
  position:absolute;
  /*width:300px;*/
  width:50%;
  left:50%;
  top:50%;
  text-align: center;
  /*margin-left:-150px;*/
  margin-left:-25%;
  margin-top:-65px;
}

body {
  transition-duration:1s;
}

#clock {
  /*font-size:20px;*/
  font-size:7.5em;
  margin-bottom:15px;
}


#bottomHalf{
  position:fixed;
  height: 35%;
  width: 100%;
  bottom:0;
  left:0;
}

  .bottom_links{
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    font-size: 14px;
    padding: 0.5em;
    border: 0;
    text-decoration: none;
    cursor: pointer;
  }
    
    .bottom_links:hover{
      opacity:0.8 !important;
    }
    
    #settings_link{
      left: 0.5em;
    }
    
    #clock_link{
      left: calc(1.5em + 24px);
    }
    
    #hr_link{
      left: calc(2.5em + 48px);
    }
      
      #hr_link img{
        height: 22px;
        padding: 1px;
      }
    
    
  .top_links{
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.15;
    font-size: 14px;
    padding: 0.5em;
    margin: 0;
    border: 0;
    text-decoration: none;
    cursor: pointer;
  }
    
    .top_links:hover{
      opacity:0.8 !important;
    }
    
    #pin_colour_link.pinned{
      border-radius: 0.5em;
      border: 1px solid #888;
      margin: 1px;
      padding: calc(0.5em - 2px);
      opacity: 0.5;
    }
    

  .non_settings_link{
    opacity: 0;
  }

  #bottomHalf:hover .non_settings_link{
    opacity: 0.15;
  }
    
    #bottomHalf:hover #hr_link{
      opacity: 0.25;
    }
    
