@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+SC:400);

:root {
    --button-opacity-visible: .25;
    --button-opacity-visible-hourtype: .35;
    --button-opacity-non-settings-default: 0;
    --button-opacity-focus: 0.8;
    --button-opacity-pinned-default: 0.5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* transition-duration: 1s; */
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    color: #333333;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

body.serif {
    font-family: 'Noto Serif SC', serif;
}

.hide, .hide * {
    display: none;
}

#center {
    margin: auto;
}

#clock {
    font-size: 7.5em;
    margin-bottom: 15px;
}


#topSites {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
    grid-gap: 1.5rem 3rem;
    justify-content: center;
    padding: 1rem 8rem;
    z-index: 3;
    cursor: pointer;
}

.top_site_link {
    transition-duration: 0.5s;
    text-decoration: none;
    color: #333333;
    font-size: 1.25em;
    
    display: block;
    padding: 0.25rem 1rem;
    height: 2rem;
    line-height: 2rem;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    border: 1px solid rgba(211, 211, 211, .5);
    border-radius: 0.2rem;
    
    background: rgba(250, 250, 250, .5);
}

.top_site_link:focus,
.top_site_link:hover {
    transition-duration: 0.5s;
    text-decoration: underline;
}

#hoverHalf {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left:0;
    height: 40%;
    width: 100%;
}

#bottomHalf {
    display: grid;
    z-index: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    transition-duration: 1s;
}

#bottomHalf>*:not(#space_filler) {
    flex: 0 0;
}

#space_filler {
    flex: 1 1 auto;
}

#action_links {
    display: flex;
    align-items: flex-end;
}

.bottom_btn_links {
    opacity: var(--button-opacity-visible);
    font-size: 14px;
    padding: 0.5em;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

.bottom_btn_links:hover {
    opacity: var(--button-opacity-focus) !important;
}

.btn_icon {
    display: inline-block;
    height: 21px;
    width: 21px;
    margin: 2px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#ic_top_sites {
    background-image: url(../img/ic_web_up_black_24px.svg);
}

#top_sites_link.showing #ic_top_sites {
    background-image: url(../img/ic_web_down_black_24px.svg);
}

.grab_attention {
    animation: blinker 2s cubic-bezier(0.55, 0.06, 0.68, 0.19) infinite;
}

@keyframes blinker {
    20% {
        opacity: var(--button-opacity-focus);
    }
}

#ic_clock_type {
    background-image: url(../img/24hr.png);
}

#ic_clock_type.twelve {
    background-image: url(../img/12hr.png);
}

#pin_colour_link {
    margin: 0;
}

#ic_font {
    background-image: url(../img/format-font.svg);
}

#pin_colour_link.pinned {
    border-radius: 0.5em;
    border: 1px solid #888;
    margin: 1px;
    padding: calc(0.5em - 2px);
    margin-left: auto;
    opacity: var(--button-opacity-pinned-default);
}

.bottom_btn_links:hover #pin_colour_link.pinned {
    opacity: var(--button-opacity-focus)
}

.non_settings_link:not(.pinned) {
    opacity: var(--button-opacity-non-settings-default);
}

#bottomHalf.entered .non_settings_link:not(.pinned),
#bottomHalf:hover .non_settings_link:not(.pinned) {
    opacity: var(--button-opacity-visible);
}

#bottomHalf.entered #hr_link,
#bottomHalf:hover #hr_link {
    opacity: var(--button-opacity-visible-hourtype);
}


#notificationModal {
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    padding: 0.5rem 1rem;
    /* border: 1px dotted rgba(210, 210, 210, 0.3); */
    font-size: medium;
    /* font-family: Roboto, Ubuntu, 'Noto Sans UI', 'Lucida Grande', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, Verdana, Geneva, 'Open Sans', sans-serif; */
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    max-width: 15em;
}

#context_message {
    font-size: small;
    color: #888;
    line-height: 1.5em;
    padding-bottom: 0.4em;
}

.notification_button_links {
    padding: 0.25em;
    text-decoration: none;
    color: #555;
    border-radius: 0.25em;
    border: 1px solid lightgrey;
    box-shadow: 0 0 1px 0 #E0E0E0;
    background-color: #fafafaa1;
}

.notification_button_links:hover,
.notification_button_links:focus {
    color: black;
    background-color: rgba(250, 250, 250, 0.3);
    box-shadow: 0 0 1px 0 #666666;
}

#notification_close {
    font-size: x-small;
    text-decoration: none;
    color: #555;
}

#notification_close:focus,
#notification_close:hover {
    text-decoration: underline;
}

#icon_dark_mode {
    height: 24px;
}


#customColourModal {
    font-size: medium;
    /* font-family: Roboto, Ubuntu, 'Noto Sans UI', 'Lucida Grande', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, Verdana, Geneva, 'Open Sans', sans-serif; */
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    position: relative;
    display: inherit;
}

#customColourModalInner{
    z-index: 400;
    position: absolute;
    visibility: hidden;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(210, 210, 210, 0.3);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    align-items: center;
    top: -3em;
    right: -2em;
    width: max-content;
    background-color: #757575;
    border-radius: 0.25rem;
    color: #FAFAFA;
}


#save_custom_colour {
    opacity: 0.84;
}

#save_custom_colour:hover {
    opacity: 1;
}
